<div class="flex flex-col gap-5 overflow-y-auto">
  <!-- Header Section -->
  <!-- Title -->
  <div class="flex items-center gap-[15px]">
    <i class="fa-regular fa-heart text-[24px]"></i>
    <span class="font-bold text-[18px] text-[#0D0E2D]">ფავორიტი პროდუქცია</span>
  </div>

  <!-- Notifications List -->
  <div
    class="flex flex-col gap-[10px] max-h-[550px] rounded-2xl border border-gray-200"
  >
    @for (favorite of favoritesList; track $index) {
      <div
        class="relative flex justify-between flex-wrap gap-[10px] pb-5 pt-[15px] px-[12px] md:pt-[21px] md:px-[20px] border rounded-[25px] border-[#CFD3DB] hover:border-[#5086EE] font-medium text-base cursor-pointer"
      >
        <!-- Heart icon absolute top-right -->
        <div
          class="absolute top-4 right-4 w-[26px] h-[26px] rounded-full bg-[#DF3D50] flex items-center justify-center"
          (click)="removeFromFavorites(favorite.id)"
        >
          <i class="fa-regular fa-heart text-[16px] text-white"></i>
        </div>

        <div class="flex gap-5">
          <img
            [src]="favorite?.images?.[0]"
            alt="sadgisi logo"
            class="w-[139px] h-[122px] md:w-[192px] md:h-[122px]"
          />
          <div class="flex flex-col">
            <span
              class="font-medium text-[#0A0B26] text-[14px] lg:text-[16px] break-words max-w-[180px] leading-snug"
            >
              {{ favorite.name }}
            </span>

            <span
              class="flex items-center gap-[6px] pt-[15px] font-medium text-[#0A0B26] text-[14px] lg:text-[16px]"
              >ფერი:
              <span
                class="inline-block rounded-full cursor-pointer w-[13px] h-[13px] lg:w-[18px] lg:h-[18px]"
                [style.backgroundColor]="favorite?.colors?.[0]"
              >
              </span>
            </span>
            <span
              class="pt-[10px] font-medium text-[#0A0B26] text-[14px] lg:text-[16px]"
              >რაოდენობა: {{ 1 }}</span
            >
            <span class="pt-[11px] font-bold text-[14px] lg:text-[18px]"
              >თანხა: {{ favorite.price }}₾</span
            >
          </div>
        </div>
        <button
          class="flex items-center self-end w-[181px] h-[52px] py-[10px] px-[13px] rounded-[12px] bg-[#5086EE] text-[white] cursor-pointer"
          (click)="addIntoBasket(favorite)"
        >
          <span>დამატება</span>
          <i class="fa-cart-shopping fa-solid text-center text-xl w-8"></i>
        </button>
      </div>
    }
  </div>
</div>
