<footer class="bg-[#F5F5F5] py-6">
  <div>
    <div class="info ml-5">
      <nav>
        <ul
          class="flex flex-col gap-4 min-lg:flex-row min-lg:mx-auto min-lg:justify-between min-lg:items-center max-w-[1064px]"
        >
          <li class="flex gap-3">
            <img class="" src="assets/address.png" alt="address" />
            <p>რუსთავი, მეგობრობის 4</p>
          </li>
          <li class="flex gap-3">
            <img class="" src="assets/phone.png" alt="address" />
            <p>+995 591 887 555</p>
          </li>
          <li class="flex gap-3">
            <img class="" src="assets/message.png" alt="address" />
            <p>{{ email }}</p>
          </li>
          <li class="flex gap-3">
            <div class="px-3.5 py-2.5">
              <img class="" src="assets/fb.png" alt="facebook" />
            </div>
            <div class="px-3.5 py-2.5">
              <img class="" src="assets/instagram.png" alt="instagram" />
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="copyright mx-auto w-fit flex flex-col items-center mt-5">
      <img src="assets/logo_footer.png" alt="logo" />
      <p class="text-base">Copyright © 2025</p>
    </div>
  </div>
</footer>
