<header
  class="flex justify-between items-center header rounded-[56px] px-[40px] mt-[30px] w-[1260px] max-[1260px]:w-[90%] mx-auto"
>
  <img
    routerLink="/"
    class="w-[80px] h-[80px] max-lg:w-[54px] max-lg:h-[54px] cursor-pointer"
    src="assets/sadgisilogo.png"
    alt="logo"
  />
  <nav class="max-[1260px]:hidden">
    <ul class="flex gap-7">
      <li
        routerLink="/"
        routerLinkActive="text-[#5086EE]"
        [routerLinkActiveOptions]="{ exact: true }"
        class="cursor-pointer hover:text-[#5086EE] text-[18px] font-normal"
      >
        მთავარი
      </li>
      <li
        routerLink="/products"
        routerLinkActive="text-[#5086EE]"
        class="cursor-pointer hover:text-[#5086EE] text-[18px] font-normal"
      >
        პროდუქცია
      </li>
      <li
        routerLink="/about"
        routerLinkActive="text-[#5086EE]"
        class="cursor-pointer hover:text-[#5086EE] text-[18px] font-normal"
      >
        ჩვენს შესახებ
      </li>
      <li
        routerLink="/order"
        routerLinkActive="text-[#5086EE]"
        class="cursor-pointer hover:text-[#5086EE] text-[18px] font-normal"
      >
        შეკვეთა
      </li>
    </ul>
  </nav>
  <div class="icons flex gap-[15px]">
    <img
      class="cursor-pointer w-[28px] h-[28px]"
      src="assets/search-normal.png"
      alt="search"
    />
    <img
      class="cursor-pointer w-[28px] h-[28px] max-[1260px]:hidden"
      src="assets/Vector.png"
      alt="favourites"
    />
    <img
      class="cursor-pointer w-[28px] h-[28px] max-[1260px]:hidden"
      src="assets/shopping-cart.png"
      alt="cart"
    />
    <a [routerLink]="profileLink" class="text-xl hidden md:block">
      <i class="fa-regular fa-user"></i>
    </a>
    <button (click)="toggleSidebar()">
      <img
        class="cursor-pointer w-[28px] h-[28px] min-[1260px]:hidden"
        src="assets/burger.png"
        alt="burger"
      />
    </button>
  </div>
</header>
<!-- <div
  class=".side-bar min-[1260px]:hidden w-[1260px] max-[1260px]:w-[90%] mx-auto absolute h-[calc(100vh-110px-350px)] bg-gray-500"
>
  <nav class="mt-10 mb-6">
    <ul class="flex flex-col gap-3">
      <li class="cursor-pointer hover:text-[#5086EE] text-xl font-normal">
        მთავარი
      </li>
      <li class="cursor-pointer hover:text-[#5086EE] text-xl font-normal">
        პროდუქცია
      </li>
      <li class="cursor-pointer hover:text-[#5086EE] text-xl font-normal">
        ჩვენს შესახებ
      </li>
      <li class="cursor-pointer hover:text-[#5086EE] text-xl font-normal">
        შეკვეთა
      </li>
    </ul>
  </nav>
  <div class="icons flex items-center gap-[15px]">
    <button
      class="flex gap-2 bg-[#5086EE] justify-center items-center rounded-lg border-none py-4 px-[23px] text-white"
    >
      <img src="assets/profile-circle.png" alt="profile" />
      <span>ანგარიშზე შესვლა</span>
    </button>
    <img
      class="cursor-pointer w-[38px] h-[38px]"
      src="assets/Vector.png"
      alt="favourites"
    />
    <img
      class="cursor-pointer w-[38px] h-[38px]"
      src="assets/shopping-cart.png"
      alt="cart"
    />
  </div>
</div> -->
