<!-- profile-layout.component.html -->

<div class="max-w-[1260px] mx-auto px-4 py-8 overflow-x-hidden">
  <div class="flex flex-col gap-10 lg:flex-row">
    <div
      class="bg-white rounded-2xl border border-gray-200 py-[27px] px-[20px] h-fit"
    >
      <nav>
        <ul class="space-y-[20px]">
          @for (link of navLinks; track link.path) {
            <li>
              <a
                [routerLink]="['/profile', link.path]"
                (click)="onNavLinkClick(link.path)"
                routerLinkActive="text-black font-bold"
                class="flex items-center gap-5 py-2 hover:text-[#4461F2] transition-colors cursor-pointer whitespace-nowrap text-lg text-gray-600"
              >
                <i [class]="link.icon + ' w-8 text-center text-xl'"></i>
                <span>{{ link.label }}</span>
              </a>
            </li>
          }
        </ul>
      </nav>
    </div>

    <!-- Content -->
    <div class="bg-white w-full overflow-x-hidden">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
