<section class="flex gap-6 mt-[30px] max-lg:flex-col">
  <div
    class="three-images flex flex-col gap-[20px] order-1 max-lg:w-full max-lg:order-2 flex-wrap"
  >
    <img
      class="w-[266px] h-[191px] max-lg:w-[95%] max-lg:mx-auto max-lg:order-2 object-cover"
      src="assets/one-one.png"
      alt="first"
    />
    <img
      class="w-[266px] h-[191px] max-lg:w-[95%] max-lg:mx-auto max-lg:hidden object-cover"
      src="assets/one-two.png"
      alt="second"
    />
    <div class="relative max-lg:w-[95%] max-lg:mx-auto max-lg:order-1">
      <img
        class="w-[266px] h-[114px] max-lg:w-full"
        src="assets/one-three.png"
        alt="third"
      />
      <span
        class="font-black text-2xl absolute text-white top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-custom-gradient w-full h-full rounded-[20px]"
      ></span>
      <span
        class="font-black text-2xl absolute text-white top-1/2 transform  -translate-y-1/2 lg:left-1/2 lg:-translate-x-1/2 max-lg:left-[25px] max-lg:w-[200px]"
        >პოპულარული პროდუქცია</span
      >
    </div>
  </div>
  <div
    class="relative text-white order-2 max-lg:w-full max-lg:h-auto max-lg:mx-auto max-lg:self-start max-lg max-lg:order-1"
  >
    <img
      class="w-[676px] h-[536px] max-lg:w-[95%] max-md:h-[229px] max-lg:mx-auto max-lg:h-auto"
      src="assets/two-one.png"
      alt="secondone"
    />
    <h2
      class="transform translate-x-[40px] absolute bottom-[115px] font-black text-2xl pl-3 border-l-2 border-[#5086EE] uppercase leading-7 max-lg:text-lg max-lg:translate-x-[20px] max-lg:bottom-[110px] max-lg:left-[15px]"
    >
      ლუკა აბულაშვილი
    </h2>
    <p
      class="transform translate-x-[40px] absolute bottom-[55px] font-medium text-lg max-lg:text-sm w-fit max-lg:max-w-[304px] max-lg:translate-x-[20px] max-lg:bottom-[27px] max-lg:left-[15px]"
    >
      სადგისის პროდუქტი შექმნილია საქართველოში, ხელით ნატურალური ტყავით და მთელი
      გულით შენთვის
    </p>
  </div>
  <div class="flex flex-col gap-[20px] order-3 max-lg:w-full">
    <div class="relative max-lg:w-[95%] max-lg:mx-auto">
      <img
        class="w-[266px] h-[114px] max-lg:w-full"
        src="assets/three-one.png"
        alt="threeone"
      />
      <span
        class="font-black text-2xl absolute text-white top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-custom-gradient w-full h-full rounded-[20px]"
      ></span>
      <span
                class="font-black text-2xl absolute text-white top-1/2 transform  -translate-y-1/2 lg:left-1/2 lg:-translate-x-1/2 max-lg:left-[25px] max-lg:w-[200px]"
        >პროდუქციის შეკვეთა</span
      >
    </div>
    <img
      class="w-[266px] h-[402px] max-lg:w-[95%] max-lg:h-[180px] max-lg:mx-auto object-cover"
      src="assets/three-two.png"
      alt="threetwo"
    />
  </div>
</section>
