<section
  class="w-[90%] max-w-[1260px] bg-[#F9F9F9] rounded-[20px] mx-auto px-[15px] py-[25px] flex flex-col gap-[10px] items-center mb-6 min-lg:mb-10"
>
  <h2 class="font-bold text-base min-lg:text-[28px] text-[#0A0B26] mb-[5px]">
    ხშირად დასმული კითხვები
  </h2>
  <div
    class="qstn rounded-[20px] relative bg-white w-full pl-[15px] min-lg:pl-10 py-[6px] min-lg:py-4"
  >
    <p class="text-xs min-lg:text-[18px] font-medium text-[#113B52]">
      გაქვთ თუ არა მიტანის სერვისი?
    </p>
    <div
      class="qstn absolute top-[11px] min-lg:top-[25px] right-[10px] min-lg:right-[20px] bg-white rounded-full"
    >
      <img src="/assets/down.svg" alt="down-arrow" />
    </div>
  </div>
  <div
    class="qstn rounded-[20px] relative bg-white w-full pl-[15px] min-lg:pl-10 py-[6px] min-lg:py-4"
  >
    <p class="text-xs min-lg:text-[18px] font-medium text-[#113B52]">
      როგორ ხდება შეძენა?
    </p>
    <div
      class="qstn absolute top-[11px] min-lg:top-[25px] right-[10px] min-lg:right-[20px] bg-white rounded-full"
    >
      <img src="/assets/down.svg" alt="down-arrow" />
    </div>
  </div>
  <div
    class="qstn rounded-[20px] relative bg-white w-full pl-[15px] min-lg:pl-10 py-[6px] min-lg:py-4"
  >
    <p class="text-xs min-lg:text-[18px] font-medium text-[#113B52]">
      პროდუქტის უკან დაბრუნება?
    </p>
    <div
      class="qstn absolute top-[11px] min-lg:top-[25px] right-[10px] min-lg:right-[20px] bg-white rounded-full"
    >
      <img src="/assets/down.svg" alt="down-arrow" />
    </div>
  </div>
  <div
    class="qstn rounded-[20px] relative bg-white w-full pl-[15px] min-lg:pl-10 py-[6px] min-lg:py-4"
  >
    <p class="text-xs min-lg:text-[18px] font-medium text-[#113B52]">
      რეგიონებში მიტანის სერვისი?
    </p>
    <div
      class="qstn absolute top-[11px] min-lg:top-[25px] right-[10px] min-lg:right-[20px] bg-white rounded-full"
    >
      <img src="/assets/down.svg" alt="down-arrow" />
    </div>
  </div>
</section>
