<section
  class="w-[90%] max-w-[1260px] bg-[#F9F9F9] rounded-[20px] mx-auto px-[15px] py-[25px] flex flex-col gap-[10px] items-center mb-6 min-lg:mb-10"
>
  <h2 class="font-bold text-base min-lg:text-[28px] text-[#0A0B26] mb-[5px]">
    ხშირად დასმული კითხვები
  </h2>

  @for (faq of faqs; let i = $index; track i) {
    <div
      class="qstn rounded-[20px] relative bg-white w-full pl-[15px] min-lg:pl-10 py-[6px] min-lg:py-4 cursor-pointer overflow-hidden"
      (click)="toggleFaq(i)"
    >
      <p class="text-xs min-lg:text-[18px] font-medium text-[#113B52]">
        {{ faq.question }}
      </p>

      <div
        class="qstn absolute top-[11px] min-lg:top-[25px] right-[10px] min-lg:right-[20px] bg-white rounded-full transition-transform duration-400"
        [class.rotate-180]="openIndex === i"
      >
        <img src="/assets/down.svg" alt="arrow" />
      </div>

      <div
        class="transition-all duration-400"
        [ngClass]="{
          'max-h-0 opacity-0': openIndex !== i,
          'max-h-[500px] opacity-100 mt-2 pr-10': openIndex === i,
        }"
        style="overflow: hidden"
      >
        <p class="text-xs min-lg:text-[16px] text-[#333]">
          {{ faq.answer }}
        </p>
      </div>
    </div>
  }
</section>
