<section
  class="py-[30px] px-[50px] max-lg:py-[18px] max-lg:px-6 shadow rounded-[20px] my-10 mx-auto max-lg:w-[95%]"
>
  <div class="flex justify-between max-lg:flex-wrap">
    <div class="products flex flex-col items-center max-lg:w-[45%]">
      <span class="font-black text-[32px] text-[#5086EE]">10+</span>
      <span class="text-center">სახეობის პროდუქცია</span>
    </div>
    <div class="rating flex flex-col items-center max-lg:w-[45%]">
      <span
        class="flex items-center gap-1 font-black text-[32px] text-[#5086EE]"
        >4.9 <img src="assets/star.png" alt="star"
      /></span>
      <span class="text-center">მომხმარებელთა შეფასება</span>
    </div>
    <div class="experience flex flex-col items-center max-lg:w-[45%]">
      <span class="font-black text-[32px] text-[#5086EE]">6+</span>
      <span class="text-center">წლიანი გამოცდილება</span>
    </div>
    <div class="customers flex flex-col items-center max-lg:w-[45%]">
      <span class="font-black text-[32px] text-[#5086EE]">500+</span>
      <span class="text-center">კმაყოფილი მომხმარებელი</span>
    </div>
  </div>
</section>
