<div>
  <div class="space-y-8">
    <!-- Profile Info Items -->
    <div class="border-b border-gray-200 pb-5">
      <div
        class="grid grid-cols-1 md:grid-cols-[1fr_1fr_1fr] items-center gap-4"
      >
        <span class="text-black font-bold text-lg">სახელი, გვარი</span>
        <span class="text-gray-500 text-lg">სახელი გოგოლაძე</span>
        <i
          class="fa-solid fa-sliders text-gray-400 md:justify-self-end hidden md:block"
        ></i>
      </div>
    </div>

    <div class="border-b border-gray-200 pb-5">
      <div
        class="grid grid-cols-1 md:grid-cols-[1fr_1fr_1fr] items-center gap-4"
      >
        <span class="text-black font-bold text-lg">იმეილი</span>
        <span class="text-gray-500 text-lg">{{ iliauni() }}</span>
        <i
          class="fa-solid fa-sliders text-gray-400 md:justify-self-end hidden md:block"
        ></i>
      </div>
    </div>

    <div class="border-b border-gray-200 pb-5">
      <div
        class="grid grid-cols-1 md:grid-cols-[1fr_1fr_1fr] items-center gap-4"
      >
        <span class="text-black font-bold text-lg">დაბადების თარიღი</span>
        <span class="text-gray-500 text-lg">01/10/2002</span>
        <i
          class="fa-solid fa-sliders text-gray-400 md:justify-self-end hidden md:block"
        ></i>
      </div>
    </div>

    <div class="border-b border-gray-200 pb-5">
      <div
        class="grid grid-cols-1 md:grid-cols-[1fr_1fr_1fr] items-center gap-4"
      >
        <span class="text-black font-bold text-lg">რეგიონი</span>
        <span class="text-gray-500 text-lg">თბილისი</span>
        <i
          class="fa-solid fa-sliders text-gray-400 md:justify-self-end hidden md:block"
        ></i>
      </div>
    </div>

    <div class="border-b border-gray-200 pb-5">
      <div
        class="grid grid-cols-1 md:grid-cols-[1fr_1fr_1fr] items-center gap-4"
      >
        <span class="text-black font-bold text-lg">მობილურის ნომერი</span>
        <span class="text-gray-500 text-lg">+995 574 151 580</span>
        <i
          class="fa-solid fa-sliders text-gray-400 md:justify-self-end hidden md:block"
        ></i>
      </div>
    </div>

    <div class="border-b border-gray-200 pb-5">
      <div
        class="grid grid-cols-1 md:grid-cols-[1fr_1fr_1fr] items-center gap-4"
      >
        <span class="text-black font-bold text-lg">სქესი</span>
        <span class="text-gray-500 text-lg">მამრობითი</span>
        <i
          class="fa-solid fa-sliders text-gray-400 md:justify-self-end hidden md:block"
        ></i>
      </div>
    </div>
  </div>
</div>
