<div>
  <div class="space-y-8  ">
    <!-- Name -->
    <div class="border-b border-gray-200 pb-5">
      <div class="flex justify-between items-center gap-4">
        <div class="flex flex-col gap-0  md:flex-row md:gap-[94px]">
          <div class="w-[200px] text-black font-bold text-lg">სახელი, გვარი</div>
          <div class="text-gray-500 text-lg ">სახელი გოგოლაძე</div>
        </div>
        <i
          class="fa-solid fa-sliders text-gray-400 md:justify-self-end hidden md:block"
        ></i>
      </div>
    </div>

    <!-- Email -->
    <div class="border-b border-gray-200 pb-5">
      <div class="flex justify-between items-center gap-4">
        <div class="flex flex-col gap-0  md:flex-row md:gap-[94px]">
          <div class="w-[200px] text-black font-bold text-lg">იმეილი</div>
          <div class="text-gray-500 text-lg ">{{ iliauni() }}</div>
        </div>
        <i
          class="fa-solid fa-sliders text-gray-400 md:justify-self-end hidden md:block"
        ></i>
      </div>
    </div>

    <!-- Date of Birth -->
    <div class="border-b border-gray-200 pb-5">
      <div class="flex justify-between items-center gap-4">
        <div class="flex flex-col gap-0  md:flex-row md:gap-[94px]">
          <span class="w-[200px] text-black font-bold text-lg">დაბადების თარიღი</span>
          <span class="text-gray-500 text-lg ">01/10/2002</span>
        </div>
        <i
          class="fa-solid fa-sliders text-gray-400 md:justify-self-end hidden md:block"
        ></i>
      </div>
    </div>

    <!-- Region -->
    <div class="border-b border-gray-200 pb-5">
      <div class="flex justify-between items-center gap-4">
        <div class="flex flex-col gap-0  md:flex-row md:gap-[94px]">
          <span class="w-[200px] text-black font-bold text-lg">რეგიონი</span>
          <span class="text-gray-500 text-lg ">თბილისი</span>
        </div>
        <i
          class="fa-solid fa-sliders text-gray-400 md:justify-self-end hidden md:block"
        ></i>
      </div>
    </div>

    <!-- Mobile Number -->
    <div class="border-b border-gray-200 pb-5">
      <div class="flex justify-between items-center gap-4">
        <div class="flex flex-col gap-0  md:flex-row md:gap-[94px]">
          <span class="w-[200px] text-black font-bold text-lg">მობილურის ნომერი</span>
          <span class="text-gray-500 text-lg ">+995 574 151 580</span>
        </div>
        <i
          class="fa-solid fa-sliders text-gray-400 md:justify-self-end hidden md:block"
        ></i>
      </div>
    </div>

    <!-- Gender -->
    <div class="border-b border-gray-200 pb-5">
      <div class="flex justify-between items-center gap-4">
        <div class="flex flex-col gap-0  md:flex-row md:gap-[94px]">
          <span class="w-[200px] text-black font-bold text-lg">სქესი</span>
          <span class="text-gray-500 text-lg ">მამრობითი</span>
        </div>
        <i
          class="fa-solid fa-sliders text-gray-400 md:justify-self-end hidden md:block"
        ></i>
      </div>
    </div>
  </div>
</div>
