<div
  class="flex flex-wrap justify-start md:justify-center gap-[35px] min-h-[710px] md:min-h-[524px] mt-[30px] md:mt-[40px] pl-5 md:mb-8"
>
  <div>
    <app-checkout-form #formRef></app-checkout-form>
  </div>
  <div>
    <app-basket-total></app-basket-total>

    @if (isStepThree()) {
      <button
        (click)="submitFromParent()"
        class="w-full bg-[#4461F2] hover:bg-[#3651d4] text-white py-4 rounded-lg font-medium text-lg cursor-pointer mt-[25px] transition-colors duration-200"
      >
        გადახდა
      </button>
    }
  </div>
</div>
