<!-- Products Section Container -->
<div>
  <!-- Products Flex -->
  <main class="flex flex-wrap gap-4">
    @for (product of paginatedProducts; track product.id) {
      <div
        class="rounded-lg hover:shadow-lg transition-shadow cursor-pointer flex flex-col p-2 w-[181px] md:w-[306px]"
        [routerLink]="['/products', product.id]"
      >
        <div class="aspect-[4/3] mb-4">
          <img
            [src]="product.images?.[0]"
            [alt]="product.name"
            class="w-full h-[161px] object-cover  md:h-[249px] rounded-[20px]"
          />
        </div>
        <div class="flex flex-col justify-between items-start">
          <div class="flex justify-between items-center w-full">
            <div class="flex gap-2">
              @for (color of product.colors; track color) {
                <button
                  class="w-5 h-5 rounded-full"
                  [ngStyle]="{ backgroundColor: color }"
                ></button>
              }
            </div>
            <div class="flex gap-2">
              <button
                class="w-[28px] h-[28px] rounded-full bg-gray-50 flex items-center justify-center hover:bg-gray-100 transition-colors cursor-pointer"
                (click)="toggleFavorite(product); $event.stopPropagation()"
                aria-label="Toggle favorite"
              >
                <i
                  class="fa-heart text-base"
                  [class.fa-solid]="isFavorite(product)"
                  [class.fa-regular]="!isFavorite(product)"
                  [class.text-red-600]="isFavorite(product)"
                ></i>
              </button>

              <button
                class="w-[28px] h-[28px] rounded-full bg-gray-50 flex items-center justify-center hover:bg-gray-100 transition-colors cursor-pointer"
                (click)="addToBasket(product); $event.stopPropagation()"
                aria-label="Add to basket"
              >
                <i class="fa-solid fa-cart-shopping"></i>
              </button>
            </div>
          </div>
          <h3 class="text-lg font-medium mt-2 mb-[10px]">{{ product.name }}</h3>
          <p class="text-sm text-gray-600 mb-4 mt-auto">{{ product.description }}</p>
          
        </div>
        <div class="flex justify-between items-center mt-auto">
            <span class="text-lg font-bold text-[#5086EE]"
              >₾{{ product.price }}</span
            >
          </div>
          
      </div>
    }
  </main>

  <!-- Pagination -->
  <div class="flex justify-center gap-2 mt-6">
    <button
      *ngFor="let page of totalPages"
      (click)="goToPage(page)"
      [ngClass]="{
        'bg-blue-600 text-white': currentPage === page,
        'text-gray-800 hover:bg-gray-100': currentPage !== page,
      }"
      class="px-4 py-2 rounded-lg border transition-colors cursor-pointer"
    >
      {{ page }}
    </button>
  </div>
</div>
